<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>图片列表</title>
    <style type="text/css">
        ul > li {
            display: inline-block;
            vertical-align: top;
        }
    </style>
</head>
<body>
    <h1>图片列表</h1>
    <hr>
    {% if image_list %}
        <ul>
            {% for img in image_list %}
                <li>
                    <img src="{{ url_for('view_image', filename=img) }}">
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div>没有图片</div>
    {% endif %}
</body>
</html>